<?xml version="1.0"?>
<config>
  <modules>
    <Justuno_Social>
      <version>1.0.7</version>
    </Justuno_Social>
  </modules> 
  <global>
	<models>
		<social>
			<class>Justuno_Social_Model</class>
			<resourceModel>social_embed</resourceModel>			
		</social>
		<social_embed>
			<class>Justuno_Social_Model_Embed</class>
		</social_embed>
	</models>
	<blocks>
		<social>
			<class>Justuno_Social_Block</class>
		</social>
		<social_domain>
			<class>Justuno_Social_Block_Domain</class>
		</social_domain>
		<social_dashboard>
			<class>Justuno_Social_Block_Dashboard</class>
		</social_dashboard>
	</blocks>
	<helpers>
        <social>
            <class>Justuno_Social_Helper</class>
        </social>
    </helpers>
  </global>
  <adminhtml>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <justuno>
                                        <title>Justuno</title>
                                    </justuno>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</adminhtml>
  <frontend>
	<layout>
		<updates>
		  <social>
			<file>justuno_social.xml</file>
		  </social>
		</updates>
	</layout>
  </frontend> 
  <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foo_bar before="Mage_Adminhtml">Justuno_Social_Adminhtml</foo_bar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
