<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_SuccessRegistration>
            <version>0.1.0</version>
        </Snowdog_SuccessRegistration>
    </modules>

    <frontend>
        <routers>
            <snowsuccessregistration>
                <use>standard</use>
                <args>
                    <module>Snowdog_SuccessRegistration</module>
                    <frontName>successregistration</frontName>
                </args>
            </snowsuccessregistration>
        </routers>
    </frontend>

    <global>
        <helpers>
            <snowsuccessregistration>
                <class>Snowdog_SuccessRegistration_Helper</class>
            </snowsuccessregistration>
        </helpers>
        <blocks>
            <snowsuccessregistration>
                <class>Snowdog_SuccessRegistration_Block</class>
            </snowsuccessregistration>
        </blocks>
        <models>
            <snowsuccessregistration>
                <class>Snowdog_SuccessRegistration_Model</class>
                <resourceModel>snowsuccessregistration_resource</resourceModel>
            </snowsuccessregistration>
            <snowsuccessregistration_resource>
                <class>Snowdog_SuccessRegistration_Model_Resource</class>
                <entities>
                    <registration>
                        <table>snowsuccessregistration_entity</table>
                    </registration>
                </entities>
            </snowsuccessregistration_resource>
        </models>
        <resources>
            <snowsuccessregistration_setup>
                <setup>
                    <module>Snowdog_SuccessRegistration</module>
                </setup>
            </snowsuccessregistration_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <snowsuccessregistration_order_success>
                        <type>singleton</type>
                        <class>snowsuccessregistration/observer</class>
                        <method>checkIfCustomerIsGuest</method>
                    </snowsuccessregistration_order_success>
                </observers>
            </sales_order_place_after>
            <customer_register_success>
                <observers>
                    <snowcustomer_register_success>
                        <type>singleton</type>
                        <class>snowsuccessregistration/observer</class>
                        <method>customerRegisterSuccess</method>
                    </snowcustomer_register_success>
                </observers>
            </customer_register_success>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <snowsuccessregistration before="Mage_Adminhtml">Snowdog_SuccessRegistration_Adminhtml</snowsuccessregistration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>