<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_SkuManagement>
            <version>0.1.2</version>
        </Snowdog_SkuManagement>
    </modules>
    
    <global>
        <helpers>
            <snowskumanagement>
                <class>Snowdog_SkuManagement_Helper</class>
            </snowskumanagement>
        </helpers>
        <blocks>
            <snowskumanagement>
                <class>Snowdog_SkuManagement_Block</class>
            </snowskumanagement>
        </blocks>
        <models>
            <snowskumanagement>
                <class>Snowdog_SkuManagement_Model</class>
            </snowskumanagement>
            <catalog>
                <rewrite>
                    <product>Snowdog_SkuManagement_Model_Catalog_Product</product>
                    <product_link>Snowdog_SkuManagement_Model_Catalog_Product_Link</product_link>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <snowskumanagement_setup>
                <setup>
                    <module>Snowdog_SkuManagement</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </snowskumanagement_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <skumanagement_parent_sku>
                    <to_order_item>*</to_order_item>
                </skumanagement_parent_sku>
                <skumanagement_parent_qty>
                    <to_order_item>*</to_order_item>
                </skumanagement_parent_qty>
                <skumanagement_parent_additional>
                    <to_order_item>*</to_order_item>
                </skumanagement_parent_additional>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <skumanagement_parent_sku>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
                    <to_cm_item>*</to_cm_item>
                </skumanagement_parent_sku>
                <skumanagement_parent_qty>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
                    <to_cm_item>*</to_cm_item>
                </skumanagement_parent_qty>
                <skumanagement_parent_additional>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
                    <to_cm_item>*</to_cm_item>
                </skumanagement_parent_additional>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_order_place_before>
                <observers>
                    <snowskumanagement_sales_order_place_before>
                        <class>snowskumanagement/observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </snowskumanagement_sales_order_place_before>
                </observers>
            </sales_order_place_before>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <snowskumanagement before="Mage_Adminhtml">Snowdog_SkuManagement_Adminhtml</snowskumanagement>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <snowskumanagement>
                    <file>snowskumanagement/snowskumanagement.xml</file>
                </snowskumanagement>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <snowskumanagement_catalog_product_prepare_save>
                        <class>snowskumanagement/observer</class>
                        <method>productPrepareSave</method>
                    </snowskumanagement_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
            <catalog_model_product_duplicate>
                <observers>
                    <snowskumanagement_catalog_product_prepare_save>
                        <class>snowskumanagement/observer</class>
                        <method>productDuplicate</method>
                    </snowskumanagement_catalog_product_prepare_save>
                </observers>
            </catalog_model_product_duplicate>
        </events>
    </adminhtml>

    <crontab>
        <jobs>
            <snowskumanagement_job>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>snowskumanagement/cron::rebuildStock</model>
                </run>
            </snowskumanagement_job>
        </jobs>
    </crontab>
</config>