<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_SideMinicart>
            <version>0.1.1</version>
        </Snowdog_SideMinicart>
    </modules>
    <frontend>
        <routers>
            <sideminicart>
                <use>standard</use>
                <args>
                    <module>Snowdog_SideMinicart</module>
                    <frontName>sideminicart</frontName>
                </args>
            </sideminicart>
        </routers>
        <layout>
            <updates>
                <sideminicart>
                    <file>sideminicart.xml</file>
                </sideminicart>
            </updates>
        </layout>
    </frontend>    
    <global>
        <helpers>
            <sideminicart>
                <class>Snowdog_SideMinicart_Helper</class>
            </sideminicart>
        </helpers>
        <blocks>
            <checkout>
                <rewrite>
                    <cart_item_renderer_configurable>Snowdog_SideMinicart_Block_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
                </rewrite>
            </checkout>
        </blocks>
    </global>
</config> 